<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Careers</h1>
      <img class="img-fluid" id="banner" src="/static/banner.jpg" >
      <h2 class="text-center mt-2 mb-4">About</h2>
      <p class="lead">Shortbread cotton candy caramels chocolate dragée muffin cupcake marzipan candy. Shortbread pie cake shortbread candy donut icing. Cotton candy jelly danish powder powder. Dragée toffee marshmallow candy canes powder marzipan apple pie marshmallow. Tootsie roll oat cake dragée candy canes sweet roll cake wafer marshmallow. Sweet roll sweet marzipan cake chocolate cake tootsie roll jelly beans. Dragée ice cream topping cheesecake muffin powder cake wafer. Wafer candy pie powder donut lollipop.</p>
      <h2 class="text-center mt-2 mb-4">Openings</h2>
      <p>TODO - Show jobs here</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023</p>
      </div>
    </div>
  </body>
</html>
